<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">M.Office Tool</title>
    <link rel="stylesheet" th:href="@{/file.css}">
    <link rel="stylesheet" th:href="@{/account.css}">
    <link rel="stylesheet" th:href="@{/home.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:fragment="snackbar(msg)">
    <div id="snackbar" th:text="${msg}" class="show"></div>
</div>

<div th:fragment="footer">
    <p> &copy; Copywriter nv.huy1@samsung.com</p>
</div>

<div th:fragment="header(title, tabs)">
    <span id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="side-close-btn" id="side-close-btn" onclick="closeNav()">&times;</a>
        <a th:each="tab : ${tabs}" class="side-menu" th:href="${tab.url}" th:id="${tab.id}">
            <span class="material-icons-outlined" th:text="${tab.icon}">home</span>
            <span class="side-menu-text" th:text="${tab.name}">Home</span>
        </a>
    </span>

    <div id="header" class="header">
        <span id="side-open-btn" style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776;</span>
        <div th:text="${title}" style="margin-left: 30px; color: #333;font-size: 32px">
            Tool collection
        </div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "15%";
            document.getElementById("main").style.marginLeft = "15%";
            document.getElementById("mySidenav").style.minWidth = "270px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("mySidenav").style.minWidth = "0";
        }
    </script>
</div>

</body>
</html>