<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: html_head(title=${'Link page'})}"/>
<body>
<div id="main">
    <div th:replace="~{fragments.html :: header(title=${'Link Page'})}"></div>
    <div class="content">
        <table>
            <tr style="border-bottom: #98ddde solid 1px">
                <th>Name</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Download app</td>
                <td>http://stage.sdsmoffice.com:9200/down</td>
            </tr>
            <tr>
                <td>Download BOD</td>
                <td>http://dev.sdsmoffice.com/이사회</td>
            </tr>
            <tr>
                <td>Download Launcher</td>
                <td>http://stage.sdsmoffice.com</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>